<div class="card bg-base-100 rounded-2xl shadow-sm p-4 h-full">
  <div class="overflow-x-auto md:overflow-visible">
    <table class="table table-zebra">
      <!-- head -->
      <thead>
        <tr>
          <th class="card-title text-black">
            {{ title }} <span class="text-base-content/60">({{ priority_Tasks.length }})</span>
          </th>
          <th>Priority</th>
          <th>Due Date</th>
          <th>Assignee</th>
          <th class="text-center">
            <i class="fa-solid fa-trash-can"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        @for (task of priority_Tasks; track $index) {
          <tr>
            <th>
              <div class="flex items-center gap-2">
                <div>
                  <input type="checkbox" class="checkbox checkbox-sm rounded-sm" />
                </div>
                <div>
                  <i class="fa-solid fa-square-check {{ task.textColor }} text-xl mt-1"></i>
                </div>
                <div class="flex">
                  <h2
                    class="font-semibold cursor-pointer hover:text-sky-800 hover:underline"
                    (click)="onTaskEdit.emit(task)"
                  >
                    {{ task.name }}
                  </h2>
                  <h4
                    class="badge badge-sm {{ task.bgColor }} {{ task.textColor }} whitespace-nowrap"
                  >
                    {{ task.project }}
                  </h4>
                </div>
              </div>
            </th>
            <td>
              <h2 class="badge badge-sm {{ task.bgColor }} {{ task.textColor }} whitespace-nowrap">
                {{ task.priority }}
              </h2>
            </td>
            <td>
              <i class="fa-regular fa-clock {{ task.textColor }} font-light text-xs"></i>
              <span class="{{ task.textColor }} font-light text-sm"> {{ task.dueDate }}</span>
            </td>
            <td class="flex items-center">
              @for (image of task.assigneeAvatar.images; track $index) {
                @if ($index < 3) {
                  <div class="avatar">
                    <div class="w-6 rounded-full">
                      <img src="{{ image }}" alt="Avatar" />
                    </div>
                  </div>
                }
              }
              @if (task.assigneeAvatar.images.length > 3) {
                <span class="text-xs font-bold text-base-content/60 ml-1">...</span>
              }
              <div class="dropdown dropdown-end dropdown-hover">
                <div tabindex="0" role="button" class="btn btn-sm btn-ghost no-animation bg-transparent! border-0 text-base-content/70 font-semibold m-1">
                  Team
                  <i class="fa-solid fa-chevron-down text-xs font-thin"></i>
                </div>
                <ul
                  tabindex="-1"
                  class="dropdown-content menu bg-base-100 rounded-box z-50 p-1 shadow-sm"
                >
                  @for (assignee of task.assigneeAvatar.assignees; track $index) {
                    <li class="">
                      <div class="avatar">
                        <div class="w-6 rounded-full">
                          <img src="{{ assignee.avatarUrl }}" alt="Avatar" />
                        </div>
                        <p class="whitespace-nowrap text-xs">{{ assignee.name }}</p>
                      </div>
                    </li>
                  }
                </ul>
              </div>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-ghost btn-sm text-left">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
