<!-- Open the modal using ID.showModal() method -->
<dialog id="add_task" class="modal">
  <div class="modal-box">
    <h3 class="text-xl font-semibold">{{ editId ? 'Edit' : 'Add New' }} {{ title }}</h3>
    <form method="dialog">
      <button class="btn btn-xs btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="pt-4 space-y-4">
      
      <!-- Name -->
      <fieldset class="fieldset">
        <legend class="fieldset-legend text-base text-base-content/60 font-normal">
          {{ title }} Name <span class="text-red-500">*</span>
        </legend>
        <input
          formControlName="name"
          type="text"
          class="input focus:border-0 focus:outline-0 shadow-sm w-full"
          [class.border-red-500]="form.get('name')?.invalid && form.get('name')?.touched"
          placeholder="Type here"
        />
      </fieldset>
      @if (form.get('name')?.invalid && form.get('name')?.touched) {
        <p class="text-sm text-red-500 mt-1">* {{ title || 'Name' }} is required.</p>
      }

      <!-- Description -->
      <fieldset class="fieldset">
        <legend class="fieldset-legend text-base text-base-content/60 font-normal">
          Description
        </legend>
        <textarea
          formControlName="description"
          class="textarea focus:border-0 focus:outline-0 shadow-sm w-full"
          placeholder="Type here"
        ></textarea>
      </fieldset>

      <!-- Project -->
      <div
        class="flex flex-col md:flex-row gap-2 md:gap-4 items-start md:items-center justify-between bg-base-100 shadow-sm rounded-lg p-2"
        [class.border]="form.get('projectId')?.invalid && form.get('projectId')?.touched"
        [class.border-red-500]="form.get('projectId')?.invalid && form.get('projectId')?.touched"
      >
        <h2>
          <i class="fa-solid fa-briefcase"></i>
          <span>Project <span class="text-red-500">*</span></span>
        </h2>
        <div class="w-full md:w-auto">
          <select
            formControlName="projectId"
            class="select md:select-ghost md:border-0 md:outline-none w-full"
          >
            @if (projects.length > 0) {
              <option value="" disabled selected>Select Project</option>
              @for (project of projects; track project.id) {
                <option [value]="project.id" class="truncate">{{ project.name }}</option>
              }
            } @else {
              <option value="" disabled selected>Add Project</option>
            }
          </select>
        </div>
        <div>
          <span>{{ selectedProjectDueDate || 'No Due Date' }}</span>
          <i class="fa-regular fa-calendar ml-2"></i>
        </div>
      </div>
      @if (form.get('projectId')?.invalid && form.get('projectId')?.touched) {
        <p class="text-sm text-red-500 mt-1">* Project is required.</p>
      }
      
      <!-- Assignees -->
      <div class="flex flex-col gap-2 bg-base-100 shadow-sm rounded-lg p-2">
        <div
          class="flex flex-col md:flex-row gap-2 md:gap-4 items-start md:items-center justify-between w-full"
        >
          <h2>
            <i class="fa-solid fa-users mr-0.5"></i>
            <span>Assignees</span>
          </h2>

          <div class="w-full md:w-auto">
            <div class="dropdown w-full dropdown-top">
              <div
                tabindex="0"
                role="button"
                class="btn md:btn-ghost w-full rounded-field md:border-0 flex justify-between items-center"
              >
                <span class="text-base-content/60">Select Members</span>
                <i class="fa-solid fa-chevron-down text-base-content/60 text-xs font-thin"></i>
              </div>

              <div
                tabindex="0"
                class="dropdown-content bg-base-100 rounded-box z-10 mt-4 w-full p-2 shadow-sm"
              >
                <input
                  type="search"
                  class="input input-sm w-full mb-2 focus:border-0 focus:outline-0"
                  placeholder="Search"
                  [value]="searchTerm"
                  (input)="onSearchInput($event)"
                />

                <div class="max-h-60 overflow-y-auto pr-1">
                  @if (filteredAssignees.length > 0) {
                    @for (member of filteredAssignees; track member.id) {
                      <div
                        class="flex items-center justify-between gap-2 px-2 py-2 rounded-lg cursor-pointer hover:bg-base-200"
                        (click)="onSelectMember(member)"
                      >
                        <span class="flex items-center gap-2 min-w-0">
                          <span class="w-6 h-6 rounded-full overflow-hidden shrink-0">
                            <img
                              [src]="member.avatar"
                              [alt]="member.name"
                              class="w-full h-full object-cover"
                            />
                          </span>
                          <span class="whitespace-normal">{{ member.name }}</span>
                        </span>

                        <input
                          type="checkbox"
                          class="checkbox checkbox-sm pointer-events-none shrink-0"
                          [checked]="isSelected(member)"
                        />
                      </div>
                    }
                  } @else {
                    <div class="px-2 py-2 text-sm text-base-content/50">No Assignee</div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap gap-2">
          @for (member of selectedMembers; track member.id) {
            <div class="flex items-center gap-2 bg-base-200 rounded-full px-2 py-1 max-w-full">
              <span class="w-6 rounded-full overflow-hidden shrink-0">
                <img [src]="member.avatar" [alt]="member.name" />
              </span>
              <span class="font-medium text-sm truncate">{{ member.name }}</span>
              <button
                type="button"
                class="cursor-pointer opacity-70 hover:opacity-100 shrink-0"
                (click)="onRemoveSelectMember(member)"
              >
                ×
              </button>
            </div>
          }
        </div>
      </div>

      <!-- Priority -->
      <div
        class="flex flex-col md:flex-row gap-2 md:gap-4 items-start md:items-center justify-between bg-base-100 shadow-sm rounded-lg p-2"
      >
        <h2>
          <i class="fa-solid fa-flag"></i>
          <span>Priority</span>
        </h2>
        <div class="w-full md:w-auto">
          <select
            formControlName="priority"
            class="select md:select-ghost md:border-0 md:outline-none w-full"
          >
            <option value="" disabled selected>Select Priority</option>
            <option value="LOW">Low</option>
            <option value="MEDIUM">Medium</option>
            <option value="HIGH">High</option>
          </select>
        </div>
      </div>

      <!-- Deadline -->
      <div
        class="flex flex-col md:flex-row gap-2 md:gap-4 items-start md:items-center justify-between bg-base-100 shadow-sm rounded-lg p-2"
      >
        <h2>
          <i class="fa-solid fa-calendar"></i>
          <span>Deadline</span>
        </h2>
        <div class="w-full md:w-auto">
          <input
            formControlName="dueDate"
            type="date"
            [min]="todayDate"
            class="input focus:border-0 focus:outline-0 shadow-sm w-full"
          />
        </div>
      </div>

      <div class="flex justify-end gap-2 mt-6">
        <button type="button" class="btn" (click)="resetForm()">Reset</button>
        <button type="submit" class="btn bg-sky-950 text-white hover:bg-sky-900" [disabled]="isSubmitting">
          @if (isSubmitting) {
            <span class="loading loading-spinner loading-sm"></span>
          }
          {{ editId ? 'Update' : 'Save' }}
        </button>
      </div>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

@if (showToast) {
  <div class="toast toast-top toast-center z-[9999]">
    <div class="alert alert-info text-white shadow-sm">
      <span>{{ toastMessage || 'Action completed successfully' }}</span>
    </div>
  </div>
}

@if(errorMessage){
  <app-toast [errorMessage]="errorMessage"></app-toast>
}