<app-auth-card>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="fieldset">
    <label class="label">Email</label>
    <input type="email" class="input w-full" placeholder="Email" formControlName="email" />
    @if (getErrorMessage('email')) {
      <p class="text-red-500 text-sm mt-1">
        {{ getErrorMessage('email') }}
      </p>
    }

    <label class="label">Password</label>
    <input type="password" class="input w-full" placeholder="Password" formControlName="password" />
    @if (getErrorMessage('password')) {
      <p class="text-red-500 text-sm mt-1">
        {{ getErrorMessage('password') }}
      </p>
    }

    <div>
      <a class="link link-hover">Forgot password?</a>
    </div>

    <button
      type="submit"
      class="btn btn-neutral w-full"
      [disabled]="loginForm.invalid || isSubmitting"
    >
      @if (isSubmitting) {
        <span class="loading loading-spinner loading-sm"></span> Logging in...
      } @else {
        Log in
      }
    </button>
  </form>

  <p class="pt-4 text-center text-gray-700">
    Can't log in? •
    <a routerLink="/register" class="link link-hover text-blue-500"> Create an account </a>
  </p>
</app-auth-card>

@if (errorMessage) {
  <app-toast [errorMessage]="errorMessage"></app-toast>
}

@if (successMessage) {
  <app-toast [successMessage]="successMessage"></app-toast>
}
