<div class="drawer lg:drawer-open">
  <input id="my-drawer" type="checkbox" class="drawer-toggle check"/>
  <div class="drawer-content">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- Main content -->
    <router-outlet />
  </div>
  <!-- Drawer-Sidebar Content -->
  <div
    class="drawer-side is-drawer-close:overflow-visible border-r-2 border-base-100 shadow-sm overflow-y-scroll no-scrollbar overscroll-contain"
  >
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <app-drawer-sidebar></app-drawer-sidebar>
  </div>
</div>