
<div class="flex min-h-screen flex-col bg-base-100 is-drawer-close:w-16 is-drawer-open:w-64">
  <div class="shrink-0">
    <label for="my-drawer" class="logo flex justify-start items-center p-4 is-drawer-close:justify-center cursor-pointer">
      <div class="flex items-center gap-4">
        <img class="size-7 is-drawer-open:size-12" src="images/logo_1.png" alt="Logo - Worklog" />
        <span class="dancing-logo text-3xl is-drawer-close:hidden">Worklog</span>
      </div>
    </label>
  </div>
  <div class="flex-1 overscroll-contain">
    <div class="">
      <ul class="menu w-full">
        <li>
          <button class="flex items-center justify-start is-drawer-close:justify-center p-3 is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Home">
            <i class="fa-regular fa-house text-lg"></i>
            <span class="is-drawer-close:hidden ml-3">Home</span>
          </button>
        </li>
        <li>
          <button class="flex items-center justify-start is-drawer-close:justify-center p-3 is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="My Tasks">
            <i class="fa-regular fa-circle-check text-lg"></i>
            <span class="is-drawer-close:hidden ml-3">My Tasks</span>
          </button>
        </li>
        <li>
          <button class="flex items-center justify-start is-drawer-close:justify-center p-3 is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Inbox">
            <i class="fa-regular fa-bell text-lg"></i>
            <span class="is-drawer-close:hidden ml-3">Inbox</span>
          </button>
        </li>
      </ul>
      <div class="py-4">
        <p class="pl-6 text-md text-neutral-500 is-drawer-close:hidden">Reporting</p>
        <ul class="menu w-full">
          <li>
            <button class="flex items-center justify-start is-drawer-close:justify-center p-3 is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Portfolio">
              <i class="fa-solid fa-chart-simple text-lg"></i>
              <span class="is-drawer-close:hidden ml-3">Portfolio</span>
            </button>
          </li>
          <li>
            <button class="flex items-center justify-start is-drawer-close:justify-center p-3 is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Goals">
              <i class="fa-solid fa-bullseye text-lg"></i>
              <span class="is-drawer-close:hidden ml-3">Goals</span>
            </button>
          </li>
        </ul>
      </div>
      <div class="">
        <p class="pl-6 text-md text-neutral-500 is-drawer-close:hidden">Favorites</p>
        <ul class="menu w-full">
          <li>
            <button class="flex items-center justify-start is-drawer-close:justify-center p-3 is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Website Launch">
            <i class="fa-solid fa-square text-blue-400"></i>
            <span class="is-drawer-close:hidden ml-3">Website Launch</span>
          </button>
          </li>
          <li>
            <button class="flex items-center justify-start is-drawer-close:justify-center p-3 is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Marketing Video">
            <i class="fa-solid fa-square text-amber-500"></i>
            <span class="is-drawer-close:hidden ml-3">Marketing Video</span>
          </button>
          </li>
          <li>
            <button class="flex items-center justify-start is-drawer-close:justify-center p-3 is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Tea Time">
            <i class="fa-solid fa-square text-teal-800"></i>
            <span class="is-drawer-close:hidden ml-3">Tea Time</span>
          </button>
          </li>
          <li>
            <button class="flex items-center justify-start is-drawer-close:justify-center p-3 is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="New Work">
            <i class="fa-solid fa-square text-rose-700"></i>
            <span class="is-drawer-close:hidden ml-3">New Work</span>
          </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="shrink-0 p-4 is-drawer-close:w-full is-drawer-close:flex is-drawer-close:justify-center">
    <button class="flex items-center justify-center gap-2 bg-base-300 py-3 rounded-lg w-full is-drawer-close:w-auto is-drawer-close:px-3 is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Invite teammates">
      <i class="fa-solid fa-user-plus block text-md"></i>
      <span class="is-drawer-close:hidden block text-xs font-semibold">Invite teammates</span>
    </button>
  </div>
</div>

